.navbar {
  background-color: #034078;

}

.applySpaceBetween {
  justify-content: space-between;
}

.logoutButton {
  right: 3%;
  background-color: #034078;
  border: none;
}

.menuButton{
  background-color: #034078;
  border: none
}