.mainContainer {
  min-height: 100vh;
  padding-top: 150px;
  background-color: #E3E5F7;
  color: black;
}

.navbar {
  background-color: #034078;
}

.darkBlueBtn {
  background-color: #034078;
}

.errorMessage {
  color: red;
}