.mainContainer {
  min-height: 100vh;
  padding-top: 150px;
  background-color: #E3E5F7;
  color: black;
}

.navbar {
  background-color: #034078;
}

.darkBlueBtn {
  background-color: #034078;
}

.errorMessage {
  color: red;
}

.searchForm {
  height: 48px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s;
}

.searchForm:focus {
  border: 0px solid transparent;
}

.datePicker div{
  background-color: #fff;
}