.mainContainer {
  background-color: #E3E5F7;
  height: 100vh;
  width: calc(100vw - 15px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.description {
  background-color: #034078;
  padding: 80px 100px;
}

.title2 {
  font-size: 2.5rem;
}

.title3 {
  font-size: 1.5rem;
}

.login {
  padding: 20px 100px;
  background-color: #E3E5F7;
}

.login label {
  display: block;
}

.login form {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.login label {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: bold;
}

.login button {
  margin-top: 20px;
  width: 100%;
}


.input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #034078;
  color: #034078;
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.4rem;
  transition: 0.2s;
  background-color: #FEFCFB;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #FACE54;
  background-color: #fff;
  box-shadow: 0 0 0 3px #FACE54;
}

.boxExplanation {
  margin-top: 60px;
  padding-top: 10px;
  padding-left: 25px;
}

.boxExplanation ul {
  padding-left: 0;
}

.lista li {
  list-style: inside;
  list-style-position: outside;
  font-size: 1.125rem;
  margin: 15px 20px;
}

.checkboxContainer {
  display: flex;
}

.checkboxContainer input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 3px;
}

.checkboxContainer p {
  margin-left: 4px;
  line-height: 1.8;
}